<section class="commentapp">
    <header class="header">
        <h1>comment</h1>
        <form>
        <input type="text" class="new-comment" placeholder="What'd they say">
        </form>
    </header>
    <section class="main">
        <ul class="comment-list">

        </ul>
    </section>
</section>
